.btn-col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.btn-col button {
    margin: 10px;
    padding: 10px;
}

.newGame-btn {
    display: block;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.game-space {
/*    background-color: #454545;*/
    margin: 0px 10px 10px 10px;
/*    border-radius: 20px;*/
/*    box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);*/
}

.even-h2-padding {
    margin: 10px;
}
.keyboard-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
#keyboard {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 500px;
    min-width: 400px;
}
.letter-button {
    margin: 5px;
    background-color: #454545;
}
.letter-button:hover {
    background-color: #909090;
}
